# # Litery-spółgłoski lewostronne i prawostronne
# # Appendix A str 295 wg pdf
#
# "b.": ["PJ~",    "b", "",     "STROKE", "B lewostronne (LITERA)"],
# ".b": ["B",    "b", "",     "STROKE", "B prawostronne (LITERA)"],
# "c.": ["ZS",    "c", "",     "STROKE", "C lewostronne (LITERA)"],
# ".c": ["C",    "c", "",     "STROKE", "C prawostronne (LITERA)"],
# "ć.": ["T",    "ć", "",     "STROKE", "Ć lewostronne (LITERA)"],
# # propozycja KS
# # "ć.": ["T~",    "ć", "",     "STROKE", "Ć lewostronne (LITERA)"],
# # "ci.": ["T~I",    "ci", "",     "STROKE", "CI lewostronne (LITERA)"],
# ".ć": ["TO",    "ć", "",     "STROKE", "Ć prawostronne (LITERA)"],
# ".ci": ["TW",    "ci", "",     "STROKE", "CI prawostronne (LITERA)"],
# "d.": ["TJ",    "d", "",     "STROKE", "D lewostronne (LITERA)"],
# ".d": ["BT",    "d", "",     "STROKE", "D prawostronne (LITERA)"],
# "dź.": ["TJ~",    "dź", "",     "STROKE", "DŹ lewostronne (LITERA)"],
# ".dź": ["BTO",    "dź", "",     "STROKE", "DŹ prawostronne (LITERA)"],
# ".dzi": ["BTW",    "dzi", "",     "STROKE", "DZI prawostronne (LITERA)"],
# # propozycja KS
# # "dzi.": ["TJ~",    "d", "",     "STROKE", "D lewostronne (LITERA)"],
# "dz.": ["ZSJ",    "dz", "",     "STROKE", "DZ lewostronne (LITERA)"],
# ".dz": ["CW",    "dz", "",     "STROKE", "DZ prawostronne (LITERA)"],
# "f.": ["F",    "f", "",     "STROKE", "F lewostronne (LITERA)"],
# ".f": ["WY",    "f", "",     "STROKE", "F prawostronne (LITERA)"],
# "g.": ["KJ",    "g", "",     "STROKE", "G lewostronne (LITERA)"],
# ".g": ["G",    "g", "",     "STROKE", "G prawostronne (LITERA)"],
# "h.": ["KTJ",    "h", "",     "STROKE", "H lewostronne (LITERA)"],
# ".h": ["CBG",    "h", "",     "STROKE", "H prawostronne (LITERA)"],
# "ch.": ["KT",    "ch", "",     "STROKE", "CH lewostronne (LITERA)"],
# ".ch": ["CG",    "ch", "",     "STROKE", "CH prawostronne (LITERA)"],
# "k.": ["K",    "k", "",     "STROKE", "K lewostronne (LITERA)"],
# ".k": ["BG",    "k", "",     "STROKE", "K prawostronne (LITERA)"],
# "l.": ["L",    "l", "",     "STROKE", "L lewostronne (LITERA)"],
# ".l": ["L",    "l", "",     "STROKE", "L prawostronne (LITERA)"],
# "ł.": ["LJ",    "ł", "",     "STROKE", "Ł lewostronne (LITERA)"],
# ".ł": ["LB",    "ł", "",     "STROKE", "Ł prawostronne (LITERA)"],
# "m.": ["KP",    "m", "",     "STROKE", "M lewostronne (LITERA)"],
# ".m": ["CS",    "m", "",     "STROKE", "M prawostronne (LITERA)"],
# "n.": ["LR",    "n", "",     "STROKE", "N lewostronne (LITERA)"],
# ".n": ["CL",    "n", "",     "STROKE", "N prawostronne (LITERA)"],
# "ń.": ["LRJ",    "ń", "",     "STROKE", "Ń lewostronne (LITERA)"],
# # propozycja KS
# # "ni.": ["LRJ~*",    "ni", "",     "STROKE", "NI lewostronne (LITERA)"],
# ".ń": ["CLO",    "ń", "",     "STROKE", "Ń prawostronne (LITERA)"],
# ".ni": ["CLW",    "ni", "",     "STROKE", "NI prawostronne (LITERA)"],
# "p.": ["P",    "p", "",     "STROKE", "P lewostronne (LITERA)"],
# ".p": ["BW",    "p", "",     "STROKE", "P prawostronne (LITERA)"],
# "q.": ["KV",    "q", "",     "STROKE", "Q lewostronne (LITERA)"],
# ".q": ["GWY",    "q", "",     "STROKE", "Q prawostronne (LITERA)"],
# "r.": ["R",    "r", "",     "STROKE", "R lewostronne (LITERA)"],
# ".r": ["R",    "r", "",     "STROKE", "R prawostronne (LITERA)"],
# "rz.": ["RJ",    "rz", "",     "STROKE", "RZ lewostronne (LITERA)"],
# ".rz": ["CRB",    "rz", "",     "STROKE", "RZ prawostronne (LITERA)"],
# "s.": ["S",    "s", "",     "STROKE", "S lewostronne (LITERA)"],
# ".s": ["S",    "s", "",     "STROKE", "S prawostronne (LITERA)"],
# "sz.": ["TP",    "sz", "",     "STROKE", "SZ lewostronne (LITERA)"],
# ".sz": ["SG",    "sz", "",     "STROKE", "SZ prawostronne (LITERA)"],
# "ś.": ["S",    "ś", "",     "STROKE", "Ś lewostronne (LITERA)"],
# # propozycja KS
# # "ś.": ["S~",    "ś", "",     "STROKE", "Ś lewostronne (LITERA)"],
# "si.": ["SJ",    "si", "",     "STROKE", "SI lewostronne (LITERA)"],
# ".ś": ["SO",    "ś", "",     "STROKE", "Ś prawostronne (LITERA)"],
# ".si": ["SW",    "si", "",     "STROKE", "SI prawostronne (LITERA)"],
# "t.": ["T",    "t", "",     "STROKE", "T lewostronne (LITERA)"],
# ".t": ["T",    "t", "",     "STROKE", "T prawostronne (LITERA)"],
# "v.": ["V",    "v", "",     "STROKE", "V lewostronne (LITERA)"],
# ".v": ["W",    "v", "",     "STROKE", "V prawostronne (LITERA)"],
# "w.": ["V",    "w", "",     "STROKE", "W lewostronne (LITERA)"],
# ".w": ["W",    "w", "",     "STROKE", "W prawostronne (LITERA)"],
# "x.": ["SK*",    "x", "",     "STROKE", "X lewostronne (LITERA)"],
# ".x": ["LS",    "x", "",     "STROKE", "X prawostronne (LITERA)"],
# "z.": ["Z",    "z", "",     "STROKE", "Z lewostronne (LITERA)"],
# ".z": ["BS",    "z", "",     "STROKE", "Z prawostronne (LITERA)"],
# "ż.": ["TPJ",    "ż", "",     "STROKE", "Ż lewostronne (LITERA)"],
# ".ż": ["BSG",    "ż", "",     "STROKE", "Ż prawostronne (LITERA)"],
# "ź.": ["Z",    "ź", "",     "STROKE", "Ź lewostronne (LITERA)"],
# "zi.": ["ZJ",    "ź", "",     "STROKE", "Ź lewostronne (LITERA)"],
# ".ź": ["BSO",    "ź", "",     "STROKE", "Ź prawostronne (LITERA)"],
# ".zi": ["BSW",    "ź", "",     "STROKE", "Ź prawostronne (LITERA)"],
#
